<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public_c50/style.css">
</head>
<body>    

    <!-- [nav] -->
        <!-- 🥒c50-10)   <%- include('nav_c50.html') %> -->
        <%- include('nav_c50.html') %>
   
    <!-- [post] -->
    <h4 class="container mt-4"><strong>글 작성페이지</strong></h4>

    <div class="container mt-3">

      <!--🦄🥒 c24-4-1)  /add 경로로, POST요청함 👉server.js     
            action="/add" method="POST"
            method="POST", 'GET'만 가능함
        -->

      <!-- 🦄🥒c52    
            -20-1)
            /edit 경로로, POST요청함                    👉server.js     
            action="/edit?_method=PUT" method="POST"

            -20-2)
            html에서는
            GET, POST 요청만 가능함
            PUT, DELETE  불가능

            npm install method-override
            /edit경로로 PUT요청 가능해짐      
            
            -20-4)
            🍄value에 db의 데이터 넣음.                                         
            DB에서 edit할 해당게시물의 데이터를 여기에 넣어야 함
            수정된 데이터를 submit하는 기능만들기
     -->

     <!-- 🥒c52-20-2 -->
     <!-- action="/edit?_method=PUT" method="POST" -->
      <form action="/edit?_method=PUT" method="POST">

        <div class="form-group">
          <label>제목</label>   
          
            <!-- 🥒c52-20-4 -->
            <!-- value="<%= ig_posts.제목 %>"  -->
          <input type="text" class="form-control" name="ig_title" value="<%= ig_posts.제목 %>" />

          <!-- 🥒c54 style="display:none; 안보이는 input만들어서, 몰래 id정보를 server.js로 보내기-->
          <!-- name="ig_id" value="<%= ig_posts._id %>" style="display:none; -->
          <input type="text" class="form-control" name="ig_id" value="<%= ig_posts._id %>" style="display:none;" />

        </div>
        <div class="form-group">
          <label>날짜</label>
      
            <!-- 🥒c52 value="<%= ig_posts.날짜 %>" -->
          <input type="text" class="form-control" name="ig_data" value="<%= ig_posts.날짜 %>"/>
        </div>

        <!--c54) 
        type="submit" button클릭하면, name을 가진 input정보를 서버로 전송해줌        
        type="reset" button을 클릭하면 입력된 input들이 모두 초기화된다.       -->
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>      
    </div>

    <!-- [jquery] -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    
</body>
</html>