<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>class</title>

    <!--bootstrap  -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <script src="bootstrap/bootstrap.min.js" defer></script>
    <!-- jquery -->
    <script src="jQuery/jquery-3.4.1.min.js" defer></script>

    <!-- CSS, JS -->
    <link rel="stylesheet" href="./style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <!-- 🦄👻🚀⚡👉🍉 -->

    <section>
      <p class="title">터미널 명령어 정리</p>
      <!-- 
       
       -->
    </section>
    <section class="c3">
      <p class="title"></p>
    </section>

    <!-- 🦄🦄c22 Bootstrap을 이용한 빠른 UI 개발 -->

    <!--[Navbar] 드림코딩에서 만든 navbar가져옴-->
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-kiwi-bird"></i>
        <a href="">keiVenture</a>
      </div>
      <div class="navbar__menu">

        <li><a href="http://localhost:3000">home</a></li>
        <li><a href="http://localhost:3000/write">write</a></li>
        <li><a href="http://localhost:3000/list">list</a></li>
        <li><a href="/edit">edit</a></li>
        
      </div>
      <div class="navbar__icons">
        <li><i class="fab fa-odnoklassniki-square"></i></li>
        <li><i class="fas fa-skiing"></i></li>
      </div> 

      <a href="#" class="footer">
        <i class="fas fa-align-justify"></i>
      </a>
    </nav>

    <section>
      <h1>./views/list.ejs</h1>
    </section>
    <br><br><br>
    
    <!--  -->
    <section>
        <h2>🌊c32. 서버에서 가져온 할일 리스트</h2>

        <!-- 🦄c34 -->
        <h4>할일 제목 : <%= ig_posts %></h4>
        <p>할일 마감날짜 : <%= ig_posts %></p>
        
        <h4>할일 제목 : <%= ig_posts[2].제목 %></h4>
        <p>할일 마감날짜 : <%= ig_posts[2].날짜 %></p>



        <br><br><br><br><br><br>
        <h2>🌊c34 반복문</h2>
        <!-- 🦄c34 반복문     <%  %>   
            for (let i = 0; i < array.length; i++) {
              const element = array[i];              
            }        
        -->
        
        <%    for (let i = 0; i < ig_posts.length; i++) {   %>  
          <h4>할일 제목 : <%= ig_posts[i].제목 %></h4>
          <p>할일 마감날짜 : <%= ig_posts[i].날짜 %></p>          
        <%  }  %>  


    
  
        <%  %>




    </section>
  </body>
</html>
